{% extends 'theme.html' %}

{% block content %}
<style>
    body{
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);



    }
    .cont{
        transform: translate(0,50%);
    }
</style>
<body>
    <div class="container text-center border border-4 mt-5 mb-3 ">
      
        <h1 class="text-center text-primary">LOGIN</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}

            <div class="mt-1 mb-1 ">
                <label for="username">{{ field.label }}:</label>
               
            </div>
           

            <div class="mt-1 mb-1 ">
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-2 mb-3">
                Login
            </button>
        </form>
        <div class='p mt-1'> New user? <a href="{% url 'register' %}">Register here</a>



    </div>
</body>
{% endblock content %}