{% extends 'theme.html' %}
{% block title %}Login | {{ block.super }}{% endblock title %}

{% block content %}
<section class="blog_section layout_padding">

    <div class=" text-center  mt-5 mb-3 ">
      
        <h1 class="text-center text-primary">LOGIN</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}

            <div class="mt-1 mb-1 ">
                <label for="username">{{ field.label }}:</label>
               
            </div>
           

            <div class="mt-1 mb-1 ">
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-2 mb-3">
                Login
            </button>
        </form>
        <div class='p mt-1'> New user? <a href="{% url 'register' %}">Register here</a>



    </div>
</section>
{% endblock content %}