{% extends 'theme.html' %}
{% load static %}
    <link rel="stylesheet" href="/css/stylelogin.css">

{% block content %}
<style>
    body{
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);



    }
    .cont{
        transform: translate(0,50%);
    }
</style>
<body>
    <div class="container text-center border border-4 mt-3 mb-3 ">
<h3>Register here</h3>
<hr>

<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p> 

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Register</button>
    <div class='p mt-1'> Already have account <a href="{% url 'login' %}">Login here</a>
</form>
</body>
{% endblock %}