{% extends 'theme.html' %}
{% block title %}Register | {{ block.super }}{% endblock title %}

{% block content %}
<section class="blog_section layout_padding">


<div class="container text-center  ">
<h3>Register here</h3>
<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p> 

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Register</button>
    <div class='p mt-1'> Already have account? <a href="{% url 'login' %}">Login here</a>
</form>
</div>
</section>
{% endblock %}